numpy
tqdm
psutil
packaging
pre-commit
rich
click
fabric
contexttimer
ninja
torch<=2.4.0
safetensors
einops
pydantic
ray
protobuf
gdown
pyav
tensorboard
timm
matplotlib
accelerate
diffusers
transformers
omegaconf
xformers
ftfy
rotary_embedding_torch
imageio
imageio-ffmpeg
wandb
pytorch_lightning
kornia
beartype
scipy
deepspeed
tensorboardX
SwissArmyTransformer